@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-playfair: 'Playfair Display', serif;
  --font-montserrat: 'Montserrat', sans-serif;
   --font-newsreader: 'Newsreader', serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-pt-serif: 'PT Serif', serif; 
   --font-inter: 'Inter', sans-serif;
   --font-noto: 'Noto Serif', serif;

}

.font-roboto {
  font-family: var(--font-roboto);
}
.font-playfair {
  font-family: var(--font-playfair);
}
.font-montserrat {
  font-family: var(--font-montserrat);
}
.font-newsreader {
  font-family: var(--font-newsreader);
}

.font-poppins {
  font-family: var(--font-poppins);
}

.font-pt-serif {
  font-family: var(--font-pt-serif);
}

.font-inter {
  font-family: var(--font-inter);
}
.font-noto {
  font-family: var(--font-noto);
}

body {
  font-family: var(--font-poppins);
}


.card_effect .swiper-slide {
  transition: transform 0.4s ease-in-out, opacity 0.8s ease-in-out, filter 0.4s ease-in-out;
  opacity: 0.5;
  transform: scale(0.85);
  filter: blur(1px); /* Add blur to inactive cards */
}

.card_effect .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  filter: none; /* Remove blur for active card */
}


.swiper-pagination-bullet {
  background-color: #f47316 !important;
  opacity: 0.7;
  width: 20px !important;
  border-radius: 4px !important;
  height: 5px !important;
  transition: opacity 0.5s ease, width 0.5s ease;
}
.swiper-pagination-bullet-active {
  background-color: #f47316 !important;
  opacity: 1;
  width: 42px !important;
  border-radius: 4px !important;
  height: 5px !important;
}

.swiper-pagination {
  bottom: 0 !important;
}

@media (min-width: 768px) {
  .swiper-pagination {
    display: none !important;
  }
}

.testimonial_slider .swiper-slide-active{
  z-index: 20 !important;
}
.testimonial_slider .swiper-slide-next{
  padding-top: 15px !important;
}
.testimonial_slider .swiper-slide-prev{
  padding-top: 15px !important;
}

